@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200;300;400;600;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Poppins', sans-serif;
}

body{
  background: white;
}

li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  cursor: pointer;
  position: relative;
} 

li::before{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms all;
  position: absolute;
  content: '';
  height: 4px;
  width: 0%;
  background: #2a68ff;
  bottom: -10px;
  color: #2a68ff;
} 

li:hover:before {
  width: 100%;


}

.icon{
  cursor: pointer;
} 

/* .card{
  background: black;
} */